:root {
  --bs-primary: #c40000;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-weight: bold;
}

#result h4 {
  color: var(--bs-primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

#result p {
  margin-bottom: 0.5rem;
}

.h2 {
  scroll-padding: linear-gradient(90deg, #c40000, #ff6666);
  color: tomato;
}

h1 {
  font-size: bold;
}