:root {
  --bs-primary: #c40000;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-weight: bold;
}

#result h4 {
  color: var(--bs-primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

#result p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
