:root {
  --bs-primary: #c40000;
}

body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  font-weight: bold;
}

#result h4 {
  color: var(--bs-primary);
}

#result p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}